[submodule "libs/gtest-1.8.0"]
	path = libs/gtest-1.8.0
	url = https://github.com/google/googletest
[submodule "libs/flatbuffers-git"]
	path = libs/flatbuffers-git
	url = https://github.com/google/flatbuffers.git
